/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

/* ---------------------------------------------------------------------------- */
.wrapper {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #1F2326;
}

@font-face {
    font-family: Druk wide;
    src: url("../assets/fonts/FontsFree-Net-Druk-Wide-Bold.ttf") format("truetype");
}

/* ---------------------------------------------------------------------------- */
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

/*._ibg {*/
/*    position: relative;*/
/*}*/


.figure-main {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-18%) translateY(-45%);
    width: calc(100% - 547px);
    height: calc(100% + 335px);
    background: #FF4656;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50%;
}

.figure-right {
    position: relative;
    top: 0;
    right: 0;
}

.figure-1 {
    position: absolute;
    top: 54px;
    right: 135px;
    width: 28px;
    height: 28px;
    background: #FF4656;
    border-radius: 50%;
}

.figure-2 {
    position: absolute;
    top: 130px;
    right: 64px;
    width: 169px;
    height: 169px;
    border-radius: 50%;
    background: #EFEFEF;
}

.figure-3 {
    position: absolute;
    top: 320px;
    right: 35px;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #505155;
}

.figure-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #292C31;
    width: 910px;
    height: 865px;
    border-radius: 50%;
    transform: translateX(30%) translateY(40%);
}


.figure-4 {
    position: absolute;
    bottom: 100px;
    left: 35px;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background: #505155;
}

.figure-5 {
    position: absolute;
    bottom: 0;
    left: 95px;
    border-radius: 50%;
    width: 270px;
    height: 270px;
    background: #EFEFEF;
    transform: translateY(60%);
}

.main {
    padding: 0 150px;
    z-index: 99999;
}

.content {
    width: 100%;
    margin: 35px auto;
    border-radius: 20px;
    -webkit-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.3);
}

.header {
    width: 100%;
    min-height: 95px;
    background: #1F2326;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    align-items: center;
}

.header-block {
    display: flex;
    min-width: 100%;
    padding: 0 50px;
    align-items: center;
}

.header-block__img {
    display: flex;
    max-width: 200px;
}

.header-block__img img {
    width: 45px;
    height: 25px;
    object-fit: contain;
}

.img-riot {
    display: flex;
}

.img-riot::after {
    content: "";
    display: block;
    margin: 0 35px;
    background: #FFFFFF;
    width: 2px;
    height: 25px;
}

.header-block__menu {
    flex: 1 1 auto;
    margin-left: 100px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    position: relative;

}

.menu__list > :not(:last-child) {
    margin-right: 50px;
}

.menu__link {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}


.menu__list > :nth-child(3)::after {
    content: "";
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #FFFFFF;
    position: absolute;
    top: 30%;
    margin-left: 15px;
    cursor: pointer;
}

.menu__list > :nth-child(5)::after {
    content: "";
    cursor: pointer;
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #FFFFFF;
    position: absolute;
    top: 30%;
    margin-left: 15px;
}

.menu__link:hover{
    transition: all 2ms ease-in;
    color: #505155;
}
.header-block__user {
    display: flex;
    align-items: center;
}

.header-block__user img {
    border-radius: 50%;
    object-fit: contain;
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.user-name {
    position: relative;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.user-name::after {
    content: "";
    border-left: 4.5px solid transparent;
    border-right: 4.5px solid transparent;
    border-top: 5px solid #FFFFFF;
    position: absolute;
    margin-left: 120px;
}

.page {
    flex: 1 1 auto;
    min-height: 650px;
    background: url("../assets/images/background.jpg") center / cover no-repeat;
}

.page-main__block {
    background: rgba(255, 70, 86, 0.8);
    min-height: inherit;
}

.page-content {
    display: flex;
    min-height: inherit;
    position: relative;
}

.page-content__title {
    font-family: 'Druk Wide';
    font-size: 72px;
    letter-spacing: 0.2em;
    writing-mode: vertical-lr;
    color: transparent;
    -webkit-text-stroke: 2px #FFFFFF;
    margin: 60px 90px 0 100px;
}

.page-content__characters {
    display: flex;
    width: 100%;
    gap: 100px;
}
.character-box{
    min-width: 270px;
    margin-top: 50px;
    max-height: 600px;
    padding: 2px;
    background-color: #1F2326;
    position: relative;
}

.character-block {
    height: 100%;
}
.character-block__img{
    width: 100%;
    height: 100%;
}
.character-block__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

._selected {
    background: #FFFFFF;
}

.character-box::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 10px solid transparent;
    border-left: 10px solid black;
}

.character-box::after {
    content: "";
    border-top: 10px solid #fb6774;
    border-right: 10px solid transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.character-block__name {
    position: absolute;
    top: 25px;
    left: -18px;
    writing-mode: vertical-lr;
    font-family: 'Druk Wide';
    font-size: 36px;
    letter-spacing: 0.1em;
    color: transparent;
    -webkit-text-stroke: 1px #FFFFFF;
}

.character-block__country {
    position: absolute;
    top: 25px;
    left: 22px;
    font-family: 'Druk Wide';
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #FF4656;
    writing-mode: vertical-lr;
}

.character-block__ability {
    min-width: 270px;
    min-height: 65px;
    background: #1F2326;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -20px;
    left: 20px;
    border: 1px solid #FFFFFF;
}

.ability-icon img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

._selected-name {
    -webkit-text-stroke: 1px #1F2326;
}

._selected-ability {
    background: #FFFFFF;
    border: 1px solid #1F2326;

}

.page-subcontent {
    width: 100%;
    display: flex;
    position: relative;
    left: -5%;
    top: 50px;
}
.page-subcontent>:not(:last-child){
    margin-right: 50px;
}

.subcontent-block {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;

}
.subcontent-box{
    min-width: 450px;
    height: 150px;
    padding: 2px;
    background-color: black;
    position: relative;
}
.subcontent-box::before {
    content: '';
    border-bottom: 16.5px solid transparent;
    border-left: 22px solid black;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.subcontent-box::after {
    content: '';
    border-top: 14px solid #fb6774;
    border-right: 18px solid transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.subcontent-box:nth-child(1)::after {
    content: '';
    border-top: 14px solid #1F2326;
    border-right: 18px solid transparent;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.subcontent-block__content{
    max-width: 200px;
    margin: 15px 25px;
}
.subcontent-block__content>:not(:first-child){
    margin-top: 10px;
}
.subcontent-block__title{
    font-size: 22px;
    font-family: 'Druk Wide';
    line-height: 20px;
    color: #C4C4C4;
}
.subcontent-block__subtitle{
    font-family: 'Druk Wide';
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.subcontent-block__content p{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #1F2326;
}
.subcontent-block__icon{
    width: 100px;
    height: 100px;
    background-color: #FF4656;
    position: relative;
    top: 47px;
}
.subcontent-block__icon img{
    position: absolute;
    width: 80px;
    height: 80px;
    top: -25%;
    left: 40%;
}
.__next {
    min-width: 150px;
}
__next-block{
    height: 100%;
    background-color: white;
    display: flex;
}
.arrow__next{
    width: 100%;
    height: 100%;
    position: relative;
}
.arrow__next::after{
    content: "";
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #1F2326;
    position: absolute;
    top: 50%;
    left: 50%;
}

.footer {
    background: #EFEFEF;
    min-height: 95px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}
